# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
src/models/__pycache__/

# Data and results
data/
results/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo